$matique-color: #fadcd9;
$peach-color: #f79489;

$bg-cream: url(../images/cream.jpg);
$bg-skincare: url(../images/skincare.jpg);
$bg-makeup: url(../images/makeup.jpg);
$bg-bodylocion: url(../images/bodylotion.jpg);
$bg-whitecream: url(../images/whitecream.jpg);
